<div class="modal-wrapper" id="add-user-modal">
  <div class="modal">
    <a href="#" onclick="closeModal()" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Create New User</h2>
    </div>

    <div class="modal-body">
      <form id="add-user-form" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter name" required />
        <input type="email" name="email" placeholder="Enter email" required />
        <input type="text" name="mobile" placeholder="Enter mobile" required />
        <input type="password" name="password" placeholder="Enter password" required />
        <input type="file" name="avatar" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
